body {
    display: grid;
   margin: 0 auto;
}
.container {
    width: 100%;
    background-color: yellowgreen;
}
.top_element {
    display: flex;
    width: 96%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0;
}
.addSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 10px 20px 20px 20px;
}
.addSection > input {
    width: 60%;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    flex-shrink: 0;
}
#addBtn {
    border-radius: 10px;
    margin: 0 10px;
    width: 100px;
    height: 35px;
}

li {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin: 20px 20px;
    z-index: 2;
}

.buttonsContainer .button {
    padding: 0 15px;
    border-radius: 10px;
    align-items: center;
}

#list {
    
    width: 96%;
    margin: auto;
    z-index: 0;
}
.Btn {
    margin: 0 5px;
    width: 70px;
    height: 35px;
}
#popup {
    display:none;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.5);
    padding: auto;
    z-index: 3;
}

button {
    border: 1px solid;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
}
.popUpField {
    display: flex; 
    flex-direction: column;
    background-color: yellowgreen;
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 10px;
}
.doneMark {
    text-decoration-line: line-through;
    color: green;
}

.popUpField span {
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
}

.popUpChangeField input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
.popUpChangeField button {
    border-radius: 10px;
}